.carrousel {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 800px;
  margin: 1rem auto;
  height: 70px;
}

.imageWrapper {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 10px;
}

@media(min-width: 800px) {
  .carrousel {
    height: 95px;
  }
}