.footer {
  background-color: var(--footer-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.footerContent {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.attribution {
  font-size: 8px;
}