@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  --color1: #b7e096;
  --background-color: #e6f4d5;
  --text-color: #1f122a;
  margin: 0;
  font-size: 24px;
  font-family: 'Patua One', cursive;
  background: linear-gradient(#b7e096, white);
  max-width: 100vw;
}

h1 {
  margin: 0;
}

.center,
h2 {
  text-align: center;
}

h2 {
  font-size: 48px;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.header {
  min-height: 100vh;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px dashed #b7e096;
}

.section {
  min-height: 100vh;
}

.headshot {
  width: 300px;
  height: auto;

}


.headerText {
  width: 300px
}

@media (min-width: 550px) {
  .header {
    flex-direction: row;
    padding: 0;
    padding-left: 30px;
  }

  .headerText {
    width: 500px;
  }

  .headshot {
    width: initial;
    height: auto;
  }
}