.image {
  border-radius: 20px;
}

.imageGrid3 {
  display: grid;
  grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img3";
  gap: 1rem;
  max-width: 800px;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.smallImg {
  font-size: .75rem;
}