.projectGrid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 700px) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .projectGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}