@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

[data-theme=light] {
  --main-color: #bcd19f;
  --main-color-transparent: rgba(188, 209, 159, 0.9);
  --secondary-color: #1e2810;
  --tertiary-color: #5d8327;
  --font-color: black;
  --invert: 0
}

[data-theme=dark] {
  --main-color: #1e2810;
  --main-color-transparent: rgba(30, 40, 16, 0.9);
  --secondary-color: #bcd19f;
  --tertiary-color: #5d8327;
  --font-color: white;
  --invert: 1;
}

body {
  --transition: all 0.25s ease-out;
  font-family: 'Raleway', sans-serif;
  font-size: calc(15px + 0.390625vw);
  display: block;
  padding: 1rem;
  margin: none;
  background-color: var(--main-color);
  color: var(--font-color);
  transition: var(--transition);
  background-image: url("../public/background.jpg");
  background-size: cover;
}

body::before {
  content: "";
  background-color: var(--main-color-transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: invert(var(--invert));
  z-index: -1;
  transition: var(--transition);
}