@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply tracking-wider text-slate-800;
  }

  .text-light {
    @apply text-slate-100;
  }

  .text-dark {
    @apply text-slate-800;
  }
}

html {
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
}

.wave {
  width: 110%;
  position: relative;
  left: -4px;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  transform: rotateY(180deg);
}

.splash::before {
  content: "";
  position: absolute;
  background: url(/splash.svg) no-repeat center center/cover;
  opacity: 1;
  z-index: -1;
}